{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{% static 'PearAdminLayui/component/pear/css/pear.css' %}?version={{mrdoc_version}}" />
        <link href="{% static 'mrdoc/mrdoc-admin.css' %}?version={{mrdoc_version}}" rel="stylesheet">
        {% block custom_element %}
        {% endblock %}
	</head>
	<body class="pear-container">
		{% if debug %}
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-card-header" style="margin-bottom: 10px;font-weight: 700;color: red;">
					<i class="layui-icon layui-icon-tips"></i> {% trans "当前站点处于Debug调试模式" %}
				</div>
			</div>
		</div>
		{% endif %}

		{% block content %}
        {% endblock %}
		<script src="{% static 'PearAdminLayui/component/layui/layui.js' %}?version={{mrdoc_version}}"></script>
		<script src="{% static 'PearAdminLayui/component/pear/pear.js' %}?version={{mrdoc_version}}"></script>
		
        {% block custom_script %}
        {% endblock %}
	</body>
</html>
